@import 'modules/vars';
@import 'modules/mediaqueries';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/about';
@import 'modules/events';
@import 'modules/contact';
@import 'modules/animate';
@import 'modules/organsinneed';
@import 'modules/profiles';

#infoVid
{
    width:100%;
}

.hidden 
{
    display:none;
}

body
{
	margin: 0;
    padding: 0;
    width: 100%;
}


#html 
{
    scroll-behavior: smooth; 
}


//below is for any css animations we are using 

.hide 
{
    visibility: hidden;
}

.visible 
{
    visibility: visible !important;
}

.delay1 
{
    -animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
  
.delay2 
{
    -animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

nav {
    font-family: $headers;
    text-transform: uppercase;
}

footer {
    font-family: $headers;
}

#contact {
    font-family: $body;
}






//trial



#container {
  width: 650px;
  padding: 10px;
  margin: 0 auto;
}

input {
  border: 1px solid #333;
  margin-bottom: 15px;
  min-width: 250px;
  padding: 8px;
}

.button {
  transition-duration: 0.4s;
  background: #720000;
  border: none;
  color: white;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}

button.button:hover {
  background: #990000
}

#cboxLoadedContent {
  padding: 10px;
  background: #fffff0;
}

#modal-content {
  display: none;
}

#modal-content label {
  display: block;
  margin-bottom: 5px;
}

#modal-content input {
  width: 95%;
}