<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create The Connection</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--VUE-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

     <!--Waypoint-->
     <script src="js/noframework.waypoints.min.js"></script>
     <script src="js/mywaypoint.js"></script>

</head>
<body>
    
    <main id="app">

    <img id="logo" src="images/Logo_Icon.svg">

        <nav role="navigation">
                <div id="menuToggle">
        <input id="checkbox" type="checkbox"/>
                
        <span></span>
        <span></span>
        <span></span>
       
    <ul id="menu">
        <div id="nav">
            <router-link :to="{ path: '/promotions'}"><li>Home</li></router-link>
            <router-link :to="{ path: '/promotions'}"><li>Sign Up</li></router-link>
            <a href="index.html"><li>Our Stories</li></a>
            <a href="index.html"><li>Events</li></a>
            <a href="index.html"><li>Testimonies</li></a>
            <router-link :to="{ path: '/form'}"><li>Contact</li></router-link>
        </div>

        <div id="socialIcons">
                <ul id="socialMed">
                        <li><a href="#"><img src="images/facebook.svg" alt="facebook"></a></li>
                        <li><a href="#"><img src="images/instagram.svg" alt="instagram"></a></li>
                        <li><a href="#"><img src="images/twitter.svg" alt="twitter"></a></li>
                        <li><a href="#"><img src="images/youtube.svg" alt="youtube"></a></li>
                </ul>
        </div>
    </ul>

    
</div>
</nav>
    
    <transition name="fade" mode="out-in">
        <router-view id="move"></router-view>
    </transition>


    <div id="profiles">
    <ul>
            <li><img src="images/Eye_Profile_FemaleOne.jpg" alt=""></li>
            <li><img src="images/Eye_Profile_FemaleTwo.jpg" alt=""></li>
            <li><img src="images/Eye_Profile_MaleOne.jpg" alt=""></li>
            <li><img src="images/Eye_Profile_MaleTwo.jpg" alt=""></li>
    </ul>
    </div>
    
    <div id="contact">
        <h1>Get In Touch</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh euismod tincidLor- em ipsum dolor.
        </p>
        <form>        
                <label for="name">Name:</label><br>
                <input v-model="input.name" type="text" id="name" name="name" value="" placeholder="Name" required><br><br>
        
                <label for="email">Email:</label><br>
                <input v-model="input.email" type="email" id="email" name="email" value="" placeholder="Email Address" required><br><br>

                <label for="msg">Message:</label><br>
                <textarea v-model="input.msg" type="msg" id="msg" name="msg" value="" placeholder="Message" required></textarea><br><br>
        
                <button @click.prevent="signup()" type="submit" id="submit" name="submit">Submit</button>
        </form>
    </div>
    <img src="images/Contact.jpg" id="contactIMG" alt="contactIMG">


    <footer>
        <ul>
            <li>CONTACT
                <a>How do I register?</a>
                <a>How do I log in?</a>
            </li>

            <li>FAQS
                <a>How do I register?</a>
                <a>How do I log in?</a>
            </li> 

            <li>HEALTH CARE MEMBERS
                <a>Jack Nathan Health</a>
                <a>Sunnybrook Health Sciences Centre</a>
            </li>
        </ul>
    </footer>

</main>




   
<!-- JS below -->
<script src="js/videocontrols.js"></script> 
<script src="js/gulpfile.js"></script>
<script src="js/main.js"></script>
<script src="js/master.js"></script>
<script src="js/scrolltotop.js"></script>
    
</body>
</html>