#contact {
    clear: both;
    width: 49%;
}

#contact form input, textarea {
    border: 0.2em $blue solid;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 0.5em;
    margin-top: 0.5em;
}

#contact form input {
    height: 3em;
    padding-top: 1.5em;
}

#contact form textarea {
    height: 10em;
}

#contact ::placeholder {
    font-family: $body;
    font-size: 2em;
    color: $blue;
}

#contact h1 {
    color: $blue;
    text-transform: uppercase;
}

#submit {
    background-color: $red;
    font-family: $body;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    width: 7.5em;
    margin-bottom: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#submit:hover {
    background-color: white;
    color: $red;
    border: 2px solid $red;
  }
