#event1 img
{
    width: 90%;
    padding: 5%;
}

#event1 h3
{
    text-align: center;
    font-family: $headers;
    font-size: 2em;
    font-weight: bold;
    color: $blue;
}

#event1 p
{
    font-family: $body;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 10%;
}

#event2 img
{
    width: 90%;
    padding: 5%;
}

#event2 h3
{
    text-align: center;
    font-family: $headers;
    font-size: 2em;
    font-weight: bold;
    color: $blue;
}

#event2 p
{
    font-family: $body;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 10%;
}

#event3 img
{
    width: 90%;
    padding: 5%;
}

#event3 h3
{
    text-align: center;
    font-family: $headers;
    font-size: 2em;
    font-weight: bold;
    color: $blue;
}

#event3 p
{
    font-family: $body;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 10%;
}

.edate
{
    width: 50%;
    float: left;
    text-align: center;
    color: $red;
    font-family: $headers;
    font-size: 1.3em;
    font-weight: bold;
}

.location
{
    width: 50%;
    float: left;
    text-align: center;
    color: $red;
    font-family: $headers;
    font-size: 1.3em;
    font-weight: bold;
}

.elocation
{
    clear: both;
    width: 100%;
    padding-bottom: 20%;
    margin-left: 3%;
}

#events h1
{
    font-family: $body;
    color: $blue;
    text-align: center;
}
