#event1 img
{
    width: 90%;
    padding: 5%;
}

#event1 h3
{
    text-align: center;
    font-family: $headers;
    font-size: 2em;
    font-weight: bold;
    color: $blue;
}

#event1 p
{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15%;
}

#event2 img
{
    width: 90%;
    padding: 5%;
}

#event2 h3
{
    text-align: center;
    font-family: $headers;
    font-size: 2em;
    font-weight: bold;
    color: $blue;
}

#event2 p
{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15%;
}

#event3 img
{
    width: 90%;
    padding: 5%;
}

#event3 h3
{
    text-align: center;
    font-family: $headers;
    font-size: 2em;
    font-weight: bold;
    color: $blue;
}

#event3 p
{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15%;
}

.edate
{
    width: 50%;
    float: left;
    text-align: center;
    color: $red;
    font-family: $headers;
    font-size: 1.5em;
    font-weight: bold;
}

.location
{
    width: 50%;
    float: left;
    text-align: center;
    color: $red;
    font-family: $headers;
    font-size: 1.5em;
    font-weight: bold;
}

.elocation
{
    width: 100%;
    padding-bottom: 20%;
}