footer {
    clear: both;
    background-color: $dark-grey;
    color: white;
}

footer ul {
    list-style: none;
    padding: 1em;
    text-align: center;
}

footer ul li {
    font-weight: bold;
    display: inline-block;
}

footer ul li a {
    font-weight: normal;
    display: block;
}