#header ul li img
{
    width:100%;
}

#heads1
{
    width: 100%;
    position: inherit;
    display: inline-block;
}

#heads2
{
    width: 100%;
    position: inherit;
    display: inline-block;
}

.dual
{
    width: 100%;
    position: absolute;
    display: inline-block;
}

#header li {
    list-style: none;
    display: inline;
}