#header img
{
    width:100%;
}

#heads1
{
    position: absolute;
    display: inline-block;
    left: 0%;
    z-index: 0;
}

#heads2
{
    // position: absolute;
    display: inline-block;
    left: 0%;
}



.dual
{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    left: 0%;
}

#random
{
    display: block;
    position: relative;
    width: 100%;
}

#menu 
{
    margin-bottom: 0;
}
