
//MOBILE
//STARTS
//HERE

@media (max-width: 479px) {

    /* LOGO */

#logo
{
    width: 70%;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
}


    /* MENU TOGGLE -- all nav styling is here */

#menuToggle //three span lines
{
  display: block;
  position: fixed;
  z-index: 1;
  top: 5%;
  right: 5%;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#menuToggle span
{
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(47deg) translate(2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-47deg) translate(0, -1px);
}
	
#menu
{
  position: fixed;
  margin: -100px 0 0 -180px;
  width: 200px;
  padding-top: 75px;
  padding-bottom: 25px;
  background: $dark-grey;
  list-style-type: none;
  //-webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(120%, 0);
  transition: transform 0.7s;
  text-decoration: none;
}

#menu li
{
  padding: 15px 15px 10px 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}

#menu a
{
  text-decoration: none;
  cursor: pointer;
}

#menu li a
{
  text-decoration: none;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


/* SOCIAL ICONS */

#socialMed 
{
    text-align: center;
    float: left;
    margin-top: 2.5em;
    margin-left: 0;
    padding-left: 0;
}

#socialMed li 
{
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

#socialMed li a img 
{
    width: 1.1em;
    -webkit-filter: brightness(100); //this makes the social media icons white
}

footer ul li {
    display: block;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
}

footer ul li:nth-child(3){
    margin-top: 2em;
}

#contact h1, p {
    width: 100%;
}

}


//MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE
//ENDS 
//HERE












//TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET
//STARTS
//HERE

@media (min-width: 480px) and (max-width: 768px) {


    /* LOGO */

#logo
{
        width: 35%;
        margin-top: 2%;
        margin-left: 4%;
       // position: relative;
        float: left;
        z-index: 1;
}


    /* NAVIGATION -- all nav styling is here */

#menutoggle
{
    display: none;
}
	
#checkbox
{
    display: none;
}

#menu li
{
margin: 10px 10px 10px 5px;
display: block;
color: white;
text-align: center;
float: left;
font-weight: bold;
border-bottom: 4px solid $dark-grey;
font-size: 0.65em;
}


#menu
{
list-style-type: none;
z-index: 1;
text-align: center;
float: right;
background: $dark-grey;
width: 100%;
}

#menu li:hover{
border-bottom: 4px solid $red; //this is the nav underline
}


/* SOCIAL ICONS */

#socialMed 
{
    text-align: center;
    float: right;
    padding-right: 2%;
}

#socialMed li 
{
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 0px;
}

#socialMed li a img 
{
    width: 1.5em;
    -webkit-filter: brightness(100); //this makes the social media icons white
}

#socialMed li:hover
{
    border-bottom: 0px;
    -webkit-filter: brightness(70); //this makes the social media icons less bright on hover
}


  
footer ul li {
    display: block;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

footer ul li:nth-child(3){
    margin-top: 2em;
}

#contact h1, p {
    width: 100%;
}

#contact {
    margin-left: 5em;
    width: 100%;
}
}

//TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET
//ENDS
//HERE








//DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP
//STARTS
//HERE

@media (min-width: 769px) {


    /* LOGO */

#logo
{
    width: 20%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 4%;
    // position: relative;
    float: left;
    z-index: 1;
}


    /* NAVIGATION -- all styling is here */

#menutoggle
{
    display: none;
}

#checkbox
{
display: none;
}

#menu li
{
margin: 10px 10px 10px 5px;
display: block;
color: white;
text-align: center;
float: left;
font-weight: bold;
border-bottom: 5px solid $dark-grey;
}


#menu
{
list-style-type: none;
z-index: 1;
text-align: center;
float: right;
background: $dark-grey;
width: 100%;
}

#menu li:hover{
border-bottom: 5px solid $red; //this is the nav underline
}


/* SOCIAL ICONS */

#socialMed 
{
    text-align: center;
    float: right;
    padding-right: 2%;
}

#socialMed li 
{
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 0px;
}

#socialMed li a img 
{
    width: 2em;
    -webkit-filter: brightness(100); //this makes the social media icons white
}

#socialMed li:hover
{
    border-bottom: 0px;
    -webkit-filter: brightness(70); //this makes the social media icons less bright on hover
}


footer ul li {
    display: inline;
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}

}

//DESKTOP
//ENDS
//HERE