
//MOBILE
//STARTS
//HERE

@media (max-width: 479px) {

    // VIDEO
    #video img {
        width: 100%;
        height: auto;
    }


    /* LOGO */

.noMob
{
    display: none;
}

#top {
    padding-bottom: 15px;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }

  #top.top-fixed {
    background: rgba(255, 255, 255, 0.7); /*Nav colour*/
    height: 100px;
    transition: all 0.5s;
  }


#logo
{
    width: 50%;
    margin-left: 3%;
    margin-top: 8%;
    margin-bottom: 4%;
    position: fixed;
}

#emailUs
{
    display: none;
}

#callUs
{
    display: none;
}


    /* MENU TOGGLE -- all nav styling is here */

#menuToggle //three span lines
{
  display: block;
  position: fixed;
  z-index: 1;
  top: 7%;
  right: 5%;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#menuToggle span
{
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $dark-grey;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(47deg) translate(2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-47deg) translate(0, -1px);
}
	
#menu
{
  position: absolute;
  margin: -100px 0 0 -180px;
  width: 200px;
  padding-top: 75px;
  padding-bottom: 25px;
  background: $dark-grey;
  list-style-type: none;
  //-webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(120%, 0);
  transition: transform 0.7s;
  text-decoration: none;
}

#menu li
{
  padding: 15px 15px 10px 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}

#menu a
{
  text-decoration: none;
  cursor: pointer;
}

#menu li a
{
  text-decoration: none;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#checkbox
{
    background: white;
}

/* SOCIAL ICONS */

#socialMed 
{
    text-align: center;
    float: left;
    margin-top: 2.5em;
    margin-left: 0;
    padding-left: 0;
}

#socialMed li 
{
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

#socialMed li a img 
{
    width: 1.1em;
    -webkit-filter: brightness(100); //this makes the social media icons white
}


//PROFILES
#profiles {
    margin: 0%;
}

#profiles ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#profiles ul li {
    display: block;
}

#profiles ul li img {
    width: 100%;
}

//FOOTER
footer ul li {
    display: block;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
}

footer ul li:nth-child(3){
    margin-top: 2em;
}

//CONTACT
#contact h1 {
    margin-left: 2.24em;
    width: 100%;
}

#contact p {
    width: 125%;
}

#contact form input, textarea {
    width: 30em;
    margin-left: 0 !important;
}

#contact {
    clear: both;
    margin: 0px !important;
    width: 100%;
}


#contactIMG {
    width: 100%;
    margin-top: 1.5em;
    display: none;
}

#contact form, p {
    margin-left: 4.5em;
}


/* EVENTS SECTION */

#event1
{
    width: 100%;
    float: left;
}

#event2
{
    width: 100%;
    float: left;
}

#event3
{
    width: 100%;
    float: left;
}

#events h1
{
    font-size: 2rem;
    margin-bottom: 1em;
    margin-top: 20%;
}

// .event {
//     padding-left: 1em;
//     padding-right: 1em;

// }

//JOIN
#join
{
    clear: both;
    width: 100%;
    padding-top: 25%;
}

#join img {
    width: 100%;
}

#join h1 {
    font-family: $body;
    font-size: 2rem;
    color: $blue;
    text-align: center;
    margin-bottom: 1em;
}

#join p {
    font-family: $body;
    text-align: center;
    margin: 0;
    width: 75%;
    margin-left: 12.5%;
}


//mobile for organs in need


#organsinneed h2
{
    padding: 20px;
    font-size: 2.4em;
}

#organsinneed img
{
    width: 60%;
    padding: 20%;
}

#organsinneed div
{
    width: 49%;
    text-align: center;
}

#organsinneed div h3
{
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

#organsinneed h4
{
   padding: 0;
   margin-top: 2px;
}

#donorCount
{
    width: 100%;
    float: left;
}

#donorCount h3
{
    padding-left: 11%;
    font-family: $headers;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
    width: 80%;

}

#donorCount p
{
    font-family: $body;
    font-size: 0.9em;
    width: 80%;
}

#number
{
    width: 40%;
    float: left;
    color: $red;
    font-family: $headers;
    font-size: 6em;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

#waitList
{
    width: 20%;
    float: left;
    font-size: 1em;
    margin-top: 10%;
}

#waitCount
{
    height: 200px;
    font-family: $body;
    font-size: 0.7em;
}


}

.newsText {
    float:none;
    text-align: center;
    display: inline-block;
    padding-top:20px;
    padding-bottom:20px;
    top:50%;
}

.newsForm {
    float: none;
    display: inline-block;
    padding: 55px;
}


//MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE
//ENDS 
//HERE












//TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET
//STARTS
//HERE

@media (min-width: 480px) and (max-width: 768px) {

    /*VIDEO*/

    #video img {
        width: 100%;
        height: auto;
    }

    #nav {
        margin-left: 2em;
    }

    .noWeb
    {
        display: none;
    }


    /* LOGO */

#logo
{
        width: 25%;
        margin-top: 2%;
        margin-left: 4%;
       // position: relative;
        float: left;
        z-index: 1;
}

#emailUs
{
    display: none;
}

#callUs
{
    display: none;
}


    /* NAVIGATION -- all nav styling is here */

#menutoggle
{
    display: none;
}
	
#checkbox
{
    display: none;
}

#menu li
{
margin: 10px 10px 10px 5px;
display: block;
color: white;
text-align: center;
float: left;
font-weight: bold;
border-bottom: 4px solid $dark-grey;
font-size: 0.65em;
}


#menu
{
list-style-type: none;
z-index: 1;
text-align: center;
float: right;
background: $dark-grey;
width: 100%;
margin-bottom: 0;
}

#menu li:hover{
border-bottom: 4px solid $red; //this is the nav underline
}


/* SOCIAL ICONS */

#socialMed 
{
    text-align: center;
    float: right;
    padding-right: 2%;
}

#socialMed li 
{
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 0px;
}

#socialMed li a img 
{
    width: 1.5em;
    -webkit-filter: brightness(100); //this makes the social media icons white
}

#socialMed li:hover
{
    border-bottom: 0px;
    -webkit-filter: brightness(70); //this makes the social media icons less bright on hover
}

//PROFILES

#profiles {
    margin: 0%;
}

#profiles ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#profiles ul li {
    display: inline;
}

#profiles ul li img {
    width: 25%;
    float: left;
}

//FOOTER
  
footer ul li {
    display: block;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

footer ul li:nth-child(3){
    margin-top: 2em;
}

//CONTACT
#contact h1, p {
    width: 100%;
}

#contact {
    margin-left: 5em;
    width: 100%;
}

#contactIMG {
    width: 100%;
    margin-top: 1.5em;
    display: block;
}

#contact form input, textarea {
    width: 35em;
}

// #contact form, p {
//     margin-left: 5em;
// }

/* EVENTS SECTION */

#event1
{
    width: 100%;
    float: left;
}

#event2
{
    width: 100%;
    float: left;
}

#event3
{
    width: 100%;
    float: left;
}

#events h1
{
    font-size: 2rem;
    margin-bottom: 1em;
    margin-top: 45%;
}

//JOIN
#join
{
    clear: both;
    width: 100%;
}

#join img {
    width: 100%;
}

#join h1 {
    font-family: $body;
    font-size: 3rem;
    color: $blue;
    text-align: center;
    margin-bottom: 0;
}

#join p {
    font-family: $body;
    text-align: center;
    margin: 0;
    width: 75%;
    margin-left: 12.5%;
}

//tablet for organs in need



#organsinneed h2
{
    padding: 20px;
    font-size: 2.4em;
}

#organsinneed img
{
    width: 60%;
    padding: 20%;
}

#organsinneed div
{
    width: 32%;
    text-align: center;
}

#organsinneed div h3
{
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

#organsinneed h4
{
   padding: 0;
   margin-top: 2px;
}

//donor count

#donorCount
{
    width: 100%;
    float: left;
}

#donorCount h3
{
    padding-left: 11%;
    font-family: $headers;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    width: 80%;

}

#donorCount p
{
    font-family: $body;
    font-size: 1em;
    width: 80%;
}

#number
{
    width: 40%;
    float: left;
    color: $red;
    font-family: $headers;
    font-size: 8em;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

#waitList
{
    width: 20%;
    float: left;
    font-size: 1em;
    margin-top: 10%;
}

#waitCount
{
    height: 200px;
    font-family: $body;
    font-size: 0.7em;
}



}

//TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET
//ENDS
//HERE








//DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP
//STARTS
//HERE

@media (min-width: 769px) {

    #nav {
        margin-left: 2em;
    }

.noWeb
{
    display: none;
}


    /* LOGO */

#logo
{
    width: 30%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 4%;
    // position: relative;
    float: left;
    z-index: 1;
}


    /* NAVIGATION -- all styling is here */

#menutoggle
{
    display: none;
}

#checkbox
{
display: none;
}

#menu li
{
margin: 10px 10px 10px 5px;
display: block;
color: white;
text-align: center;
float: left;
font-weight: bold;
border-bottom: 5px solid $dark-grey;
}

#firstNav
{
    padding-left:2%;
}


#menu
{
list-style-type: none;
z-index: 1;
text-align: center;
float: right;
background: $dark-grey;
width: 100%;
}

#menu li:hover{
border-bottom: 5px solid $red; //this is the nav underline
}


/* SOCIAL ICONS */

#socialMed 
{
    text-align: center;
    float: right;
    padding-right: 2%;
}

#socialMed li 
{
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 0px;
}

#socialMed li a img 
{
    width: 2em;
    -webkit-filter: brightness(100); //this makes the social media icons white
}

#socialMed li:hover
{
    border-bottom: 0px;
    -webkit-filter: brightness(70); //this makes the social media icons less bright on hover
}

//PROFILES

#profiles {
    margin: 0%;
}

#profiles ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#profiles ul div li {
    display: inline;
    position: relative;
    padding: 0;
    margin: 0;
}


#profiles ul div li img {
    width: 25%;
    float: left;
    display: block;
    // max-width: 100%;
    // height: auto;
}
    
    // .caption {
    // opacity: 0;
    // position: absolute;
    // color: white;
    // left: 0;
    // top: 13.45em; //will need to edit with everything else
    // text-align: left;
    // padding-top: 3px;
    // z-index: 2;
    // font-family: $body;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
    // background-color: $blue; 
    // -webkit-transition: opacity .3s ease-in-out;
    // transition: opacity .3s ease-in-out;
    // }
    
    // #profiles ul li:hover .caption {
    // opacity: 1;
    // }



//FOOTER
footer ul li {
    display: inline;
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}


//CONTACT
#contactIMG {
    width: 49%;
    float: right;
    display: block;
}

#contact {
    float: left;
    width: 49%;
}

#contact h1 {
    font-size: 3em;
    margin-left: 1.6em !important;
}

#contact form input, textarea {
    width: 35em;
}

#contact form, p {
    margin-left: 5em;
}

/* EVENTS SECTION */

#event1
{
    width: 30%;
    float: left;
}

#event2
{
    width: 30%;
    float: left;
}

#event3
{
    width: 30%;
    float: left;
}

#events h1
{
    font-size: 2rem;
    margin-bottom: 1em;
    margin-top: 45%;
}


#events {
    margin-left: 2.5%;
}

#events .event {
    padding-left: 1%;
    padding-right: 1%;
}

//JOIN
#join
{
    clear: both;
    width: 100%;
    margin-bottom: -6px;
}

#join img {
    width: 100%;
}

#join h1 {
    font-family: $body;
    font-size: 3rem;
    color: $blue;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10%;
}

#join p {
    font-family: $body;
    text-align: center;
    margin: 0;
    width: 50%;
    margin-left: 25%;
    margin-top: 1em;
}

/* video and facts */

#vidLearn
{
    width: 100%;
}

#video img
{
    width: 50%;
    float: left;
}

#learnMore
{
    width: 50%;
    float: left;
    background: $blue;
    color: white;
}

#learnMore h1
{
    margin-top: 15%;
    text-align: center;
    font-family: $headers;
    font-size: 3em;
}

#learnMore ul li
{
    font-family: $body;
    padding: 2%;
    margin-left: 7%;
    margin-right: 7%;
}

/* Contact Info */

#emailUs img
{
    width: 12%;
    float: left;
    padding-right: 20%;
    padding-top: 7%;
}

#callUs img
{
    width: 12%;
    float: left;
    padding-right: 20%;
    padding-top: 7%;
}

#emailUs h3
{
    font-family: $headers;
}

#emailUs p
{
    font-family: $body;
}

#callUs h3
{
    font-family: $headers;
}

#callUs p
{
    font-family: $body;
}

#callUs
{
    width: 18%;
    float: right;
    margin-right: 2%;
    padding-top: 4%;
}

#emailUs
{
    width: 18%;
    float: right;
    margin-right: 2%;
    padding-top: 4%;
}

#heads
{
    margin-top:-17px;
}

//wait list area

#donorCount
{
    width: 50%;
    float: left;
}

#donorCount h3
{
    padding-left: 11%;
    font-family: $headers;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

#donorCount p
{
    font-family: $body;
    font-size: 1em;
}

#number
{
    width: 20%;
    float: left;
    color: $red;
    font-family: $headers;
    font-size: 9em;
    font-weight: bold;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

#waitList
{
    width: 20%;
    float: left;
    font-size: 1.2em;
    margin-top: 5%;
}

#waitCount
{
    height: 200px;
    font-family: $body;
    font-size: 1em;
}

footer ul
{
    margin-bottom: 0px;
}




//desktop for organs in need



#organsinneed h2
{
    padding: 20px;
    font-size: 2.4em;
}

#organsinneed img
{
    width: 60%;
    padding: 20%;
}

#organsinneed div
{
    width: 16%;
}

#organsinneed div h3
{
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

#organsinneed h4
{
   padding: 0;
   margin-top: 2px;
}




}

//DESKTOP
//ENDS
//HERE