#organsinneed
{
    background-color: $dark-grey;
}

#organsinneed h2
{
    color: white;
    text-align: center;
    font-family: $headers;
}

#organsinneed img
{
    margin: 0 auto;
    transition: all .2s ease-in-out;
}

#organsinneed img:hover
{
    filter: drop-shadow( 1px 1px 5px white);
    transform: scale(1.1);

}

#organsinneed div
{
    display: inline-block;
}

#organsinneed div h3
{
    color: white;
    text-align: center;
    font-family: $headers;
}

#organsinneed div h3:hover {
    color: $yellow;
    transition: all .2s ease-in-out;
}

#organsinneed h4
{
   color: white;
   text-align: center;
   font-family: $headers;
}

